body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  font-family: sans-serif;
  background-color: white !important;
  background-image: none !important;
}

#root {
  height: 100%;
  width: 100%;
}